.inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9;
    overflow-y: auto;
    max-height: 100%;
}

.inner-container > .card {
    margin-bottom: 10px;
}


.add-button {
    align-self: flex-end; 
    margin-top: 10px; 
    padding: 8px 12px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    color: #333;
}

.add-button:hover {
    background-color: #bbb;
}

