.login-page {
    height: 100vh;
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* 使用绝对定位 */
    top: 40%; /* 垂直方向上移动到页面的一半 */
    left: 50%; /* 水平方向上移动到页面的一半 */
    transform: translate(-50%, -50%); /* 使用 transform 来修正偏移 */
}
/* Form input styling */
.login-input {
    width: 100%; /* 使用100%宽度，减去padding的效果可以通过box-sizing实现 */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 包含padding和border在内的宽度 */
}

.login-button {
    width: 100%; /* 按钮宽度设置为100% */
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}
